.caption {
    color: black;
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 10px 0;

}

.tableData {
    margin-top: 25px;
    margin-bottom: 25px;
}

.tabelColumn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #fdfdfd;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

table {
    background-color: white;
}

.table {
    display: flex;
    justify-content: space-around;
}

.body1 {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.091);
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    padding-left: 1px;
    text-align: left;
    font-family: sans-serif;
    width: 20%;
}

.body1S {
    width: 10%;
}

.body1L {
    width: 40%;
}

.thead {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.091);
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    padding-left: 1px;
    text-align: left;
    font-family: sans-serif;
    width: 20%;
}

.theadS {
    width: 10%;
}

.check {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.button1 {
    display: flex;
    justify-content: center;
    margin: 5px;
    font-family: sans-serif;
    border-radius: 20%;
    width: 100%;
}

.report {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.data1 {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #d8d8d882;
}

.button {
    margin: 5px;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    border: 2px solid #d8d8d882;
    width: 10%;
    outline: none;
    cursor: pointer;
}

table {
    border: 2px solid #d8d8d882;
    border-radius: 10px;
    padding: 10px;
}

#binanceTable {
    width: 80%;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: red;
}

#pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#pagination button {
    margin: 0 2px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

#pagination button.active {
    background-color: #007bff;
    color: #fff;
}

#pagination button:hover {
    background-color: #ddd;
}

.auto-icon {
    height: 14px;
    width: auto;
    margin-right: 8px;
}

#paginationBinance {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#paginationBinance button {
    margin: 0 2px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

#paginationBinance button.active {
    background-color: #007bff;
    color: #fff;
}

#paginationBinance button:hover {
    background-color: #ddd;
}


/* HTML: <div class="loader"></div> */
.loader {
    width: 35px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
    background:
        var(--_g) 0 0,
        var(--_g) 100% 0,
        var(--_g) 100% 100%,
        var(--_g) 0 100%;
    background-size: 40% 40%;
    animation: l38 .5s infinite;
    margin: 40px;
}

@keyframes l38 {
    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0
    }
}


@media(min-width:320px) {
    .body1 {
        font-size: 6px;
    }

    .thead {
        font-size: 6px;
    }

    .caption {
        font-size: 35%;
    }

    .report {
        font-size: 30%;
    }

    .theadS11 {
        display: none;
    }

    .body1S1 {
        display: none;
    }

    .theadS1{
        display: none;
    }

    #timeSelector{
        width: 70px;
        border-radius: 5px;
        font-size: 7px;
       border-width: 0px;
    }

}

@media(min-width:480px) {
    .body1S1 {
        display: table-cell;
    }

    .theadS1{
        display: table-cell;
    }


    .theadS11 {
        display: table-cell;
    }

    .body1 {
        font-size: 5px;
    }

    .thead {
        font-size: 5px;
    }

    .caption {
        font-size: 50%;
    }

    .report {
        font-size: 40%;
    }

    #timeSelector{
        width: 80px;
        font-size: 8px;
       border-width: 0px;
    }

}

@media(min-width:768px) {
    
    .body1 {
        font-size: 60%;
    }

    .thead {
        font-size: 60%;
    }

    .caption {
        font-size: 85%;
    }

    .report {
        font-size: 65%;
    }
    #timeSelector{
        width: 100px;
        font-size: 10px;
       border-width: 0px;
    }
}

@media(min-width:1024px) {
    .body1 {
        font-size: 90%;
    }

    .thead {
        font-size: 90%;
    }

    .caption {
        font-size: 100%;
    }

    .report {
        font-size: 80%;
    }

    #timeSelector{
        width: 150px;
        font-size: 15px;
       border-width: 0px;
    }
}
